.input-container{
    margin-top: 10px;
    margin-bottom: 4px;
    width: 254px;
    height: 50px;
    border-radius: 6px;
    background: linear-gradient(95.89deg, rgba(98, 255, 130, 0.988235) 11.34%, #29BA47 93.32%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input {
    margin: 0;
    width: calc(100% - 15px);
    height: calc(100% - 2px);
    border-radius: 6px;
    padding: 0;
    border: none;
    background: #000c23;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.025em;
    color: var(--text-main);
    padding-left: 13px;
}

.input-container-error {
    background: linear-gradient(95.89deg, rgba(255, 30, 30, 0.988235) 11.34%, #C7971C 93.32%);
}

.form-input::placeholder {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.025em;
    color: var(--text-main);
    padding: auto;
}

.form-input:focus::placeholder{
    opacity: 0;
}
.form-input:focus{
    outline: none;
}
