.button {
    height: 48px;
    border-radius: 10px;
    border: none;
    background: var(--button-gradient);
    transition: all .3s ease;
    margin-top: 7px;
}

.text-button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 21px;
    letter-spacing: 0.025em;
    text-align: center;
    color: #fff;
    margin: auto;
}

.button:hover {
    background: var(--button-hover);
    cursor: pointer;
}

.button-pressed {
    background: var(--button-pressed);
}

.button:disabled{
    opacity: .6;
}